{{ $achievements := .Site.Data.achievements }}
{{ $sidebar := .Site.Data.sidebar }}

<section class="blue">
    <h3 class="heading">{{ $achievements.title }}</h3>

    <div class="row justify-content-md-center text-center">

        {{ range $index, $element := $achievements.achievements }}

        <div class="col-12 col-lg-6 col-md-6 mb-3">
            <div class="card p-4">
                {{ if $element.picture }}
                <img src="{{.Site.BaseURL}}images/{{ $element.picture}}" width=auto height="150px">
                {{end}}
                {{if $element.icon }}
                <i class="mt-3  fa fa-{{ $element.icon }} fa-3x"></i>
                {{end}}
                <h5 class="mt-4">{{ $element.title }}</h5>
                {{ $website := $element.website }}
                {{ $website_alt := $element.website_alt }}
                {{ if $website }}
                <a target="_blank" href="{{ $website }}">
                    <i class="fas fa-link"></i>
                    {{ $website_alt }}
                </a>
                {{ end }}
                <p class="text-muted">{{ $element.description }}</p>
            </div>
        </div>

        {{ end }}
    </div>
</section>
