{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}
{{ $socialfas := .Site.Data.socialfas}}

<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">
    <img
      src="{{.Site.BaseURL}}/images/{{ $sidebar.displayPicture }}"
      class="rounded-circle mb-3"
      width="160px"
    />

    <h1 class="heading">
      {{ $sidebar.title }} <span class="highlight">{{ $sidebar.highlightedText }}</span>
    </h1>

    {{ range $key, $value := $sidebar.descriptions }}
    <p class="text-muted">{{ $value }}</p>
    {{ end }}

    <div class="detail-contact my-4">
      <p> <i class="fa fa-phone"></i> {{ $sidebar.phone }}<br>
      <i class="fa fa-envelope"></i> {{ $sidebar.email }}</p>
    </div>

    <div class="social my-4">

      {{ range $key, $value := $social }}
        <a target="_blank" href="{{ $value }}" rel="me">
          <i class="fab fa-{{ $key }}"></i>
        </a>
      {{ end }}

      {{ range $key, $value := $socialfas }}
        <a target="_blank" href="{{ $value }}">
          <i class="fas fa-{{ $key }}"></i>
        </a>
      {{ end }}

    </div>

    <a href="#contact" class="btn btn-dark btn-lg">Contact</a>
    {{ if $sidebar.links.resume }}
    <a target="_blank" href="{{ $sidebar.links.resume | safeURL }}" download class="btn btn-secondary btn-lg ml-2">Resume</a>
    {{ end }}
  </div>
</section>
