<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
	  I'm a software developer living in Lima, Peru.
        </p>
        <p class="lead text-center text-muted">
          An organised, enthusiastic and positive thinking individual with the proven ability to meet deadlines.
          I am a SRE Engineer with a great passion for technology, whose main forte is automation.
        </p>
        <p class="lead text-center text-muted">
          I am experienced in programming With Go, Python , scripting and building infrastructures as code,
          upgrades, troubleshooting, maintenance and deployment of new releases into testing and production environments.

        </p>
    </div>
</div>
<!-- / section -->
